lombok.data.flagUsage = ERROR
lombok.value.flagUsage = ERROR
lombok.builder.flagUsage = ERROR

lombok.getter.flagUsage = ERROR
lombok.setter.flagUsage = ERROR
lombok.toString.flagUsage = ERROR
lombok.equalsAndHashCode.flagUsage = ERROR

lombok.noArgsConstructor.flagUsage = ERROR
lombok.allArgsConstructor.flagUsage = ERROR
lombok.requiredArgsConstructor.flagUsage = ERROR

config.stopBubbling = true
